.container {
    margin: 15px;
}
.containerIMG {
    height: 40vh;
    width: 70vh;  /*Ajustar para que tenga un tamaño fijo */
    border-radius: 1rem;
    outline: .2rem solid white;
    #img{
        height: 100%;
        width: 70vh;
        z-index: 1;
        margin: auto;
        border-radius: 1rem;
    }
    #img2{
        display: none;
        border-radius: 1rem;
    }
    #bgstyle{
        display: none;
    }
    #description{
        display: none;
    }
    #tags{
        display: none;
    }
}

.containerIMG:hover{
    rotate: 100rad;
    cursor: pointer;
    #description{
        display: flex;
        justify-content: center;
        position: absolute;
        text-align: center;
        z-index: 3;
        width: 70vh;
        color: white;
        transition: position 0.5s;

        #title{
            font-size: 20px;
            padding-top: 10px;
        }
    }
    #tags{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 2;
        margin-top: 10vh;
        height: 30vh;
        width: 70vh;
        text-align: center;
        animation: showTags 1s linear forwards;
    }
    #bgstyle{
        display: block;
        background-color: rebeccapurple;
        opacity: .5;
        position: absolute;
        height: 40vh;
        z-index: 1;
        width: 70vh;
        border-radius: 1rem;
        animation: upBackground 1s linear forwards;

    }
    #img{
        animation: hiddenImg .5s linear forwards;
    }
    #img2{
        display: flex;
        height: 100%;
        width: 70vh;
        animation: showIMG .5s linear forwards;
    }
}



// Animaciones
@keyframes hiddenImg {
    0%{
        transform: rotateY(0deg);
    } 25% {
        transform: rotateY(22.5deg);
    } 50%{
        transform: rotateY(45deg);
    } 75% {
        transform: rotateY(67.5deg);
    } 100%{
        transform: rotateY(90deg);   
    }
}

@keyframes showIMG {
    0%{
        transform: rotateY(270deg);
    }  50%{
        transform: rotateY(330deg);
    } 100%{
        transform: rotateY(360deg); 
    }
}

@keyframes upBackground {
    0%{
        height: 0vh;
    } 25% {
        height: 10vh;
    } 50%{
        height: 20vh;
    } 75% {
        height: 30vh;
    } 100%{
        height: 40vh;
    }
}

@keyframes showTags {
    0%{
        clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
    } 50%{
        clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 50%);
    }  100%{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    }
}
    


#hidden {
    display: none;
}