@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

#ParticlesBG{
    position: absolute;
    z-index: -1;
}
.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;

}
#description {
    width: 50%;
    height: 100%;   
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    div {
        height: 30%;
    }
}

#title{
    text-align: center;
    font-size: 3em;
    font-family: 'Russo One', sans-serif;
}
#description{
    text-align: center;
    width: 90%;
    font-size: 2em;
}